<br>
<div class="col-sm-12 text-center">
  <p>Form Code Generator</p>
</div>
<div class="col-sm-12">
  <form #inputForm="ngForm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Form Name" formControlName="formName">
        </mat-form-field>
        <!-- <span *ngIf="checkError.formName.errors">
          Form Name is required.
        </span> -->
      </div>
    </div>
    <div formArrayName="arr" *ngFor="let a of myForm.get('arr').controls; let i = index">
      <div [formGroupName]="i">
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Label Name" value="" formControlName="labelName">
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Input Name" value="" formControlName="inputName">
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected" formControlName="inputType">
                <mat-option *ngFor="let input of inputTypesArr" value="{{input}}">{{ input }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <button (click)="removeItem(i)" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
      <br>
    </div>
    <button type="button" (click)="addItem()" class="btn btn-primary">Add</button>&nbsp;
    <button type="submit" [disabled]="inputForm.invalid" class="btn btn-success">Submit</button>
  </form>
</div>


<br />

<div class="col-sm-12">
  <div class="row" *ngIf="fullHtmlCode">
    <div class="col-sm-6">
      <!-- <pre>{{ fullHtmlCode}}</pre> -->
      <pre><code lang="html" [highlight]="fullHtmlCode"></code></pre>
    </div>
    <div class="col-sm-6" *ngIf="fullTsCode">
      <!-- <pre>
       {{ fullTsCode }}
    </pre> -->
      <pre><code lang="typescript" [highlight]="fullTsCode"></code></pre>
    </div>
  </div>
</div>

<!-- <div [innerHTML]="fullHtmlCodePre"></div> -->